{% extends 'Dash/base.html' %}
<br />
{% block content %}

<h1>Activity Information:</h1>
<div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-4">

        <a href="/active/activity" class="btn btn-warning" role="button">Go Back</a>
    </div>
</div>
<h2>{{this_activity.name}}:</h2>
<br>
<ul>

    <li> Activity time: {{ this_activity.activity_date|date:"DATETIME_FORMAT" }}</li>
    <li> Activity type: {{ this_activity.activityType }}</li>
    <li> Activity manager: {{ this_activity.user.first_name}} {{activity.user.last_name}}</li>

</ul>

{% if this_activity.desc != ""%}
<p class="card-text">Description: {{this_activity.desc}} </p>
{% endif %}

<h3>Location:</h3>
<a href="/active/location/{{this_activity.location.id}}" class="btn btn-outline-danger"
    role="button">{{this_activity.location.name}}</a>


<br>
<div class="card mt-3" style="width: 25rem;">
    <div class="card-header">
        List of Participants
    </div>
    <ul class="list-group list-group-flush">

        {% for party in this_activity.attendee.all %}

        <li class="list-group-item">{{party.first_name}} {{party.last_name}}</li>
        {% endfor %}


    </ul>
</div>
<br>
{% if this_activity not in logged_user.joined_activity.all %}
<a href="/active/join/{{this_activity.id}}" class="btn btn-primary" role="button">Join</a>
{% else %}
<a href="/active/dashboard" class="btn btn-warning">Already Joined</a>
{% endif %}


{% endblock %}